if user && reptiles
  - let reptiPages = [];
  - let pageBlank = [];
  - let activeIndex = 0;
  // add reptiles to the carousel
  - for (let i = 0; i < reptiles.length; i++) {
    - pageBlank.push(reptiles[i]);					
    - if (pageBlank.length >= 5) { // add a full page and reset
      - reptiPages.push(pageBlank);
      - pageBlank = []; }
    // if on the last reptile, put it in the pages
    - if (reptiles.length - 1 - i === 0 && pageBlank.length < 5 && pageBlank.length > 0) reptiPages.push(pageBlank);
  - }
  // Loop over the pages to find the selected reptile and active carousel page
  - for (let i = 0; i < reptiPages.length; i++) {
    - for (let j = 0; j < reptiPages[i].length; j++) {
      - if (reptiPages[i][j]._id === selected._id) {
        - activeIndex = i; } } }
  each page, index in reptiPages
    if index === activeIndex
      div.carousel-item.active.h-100      
        include ddselect.pug
    else
      div.carousel-item.h-100
        include ddselect.pug
