extends dinodata

block content
  
  div#select
    div.d-flex.flex-row.align-items-center
      div.d-flex.flex-column.m-1
        a(href="/dinodata/cage/create").btn.btn-sm.btn-primary.m-1 + Add
        a(href="/dinodata/cage/edit/"+selected._id).btn.btn-sm.btn-secondary.m-1 Edit
      div#carouselControl(data-ride="carousel" data-interval="false").carousel.slide
        div.carousel-inner
          include ddcarousel.pug
        a(href="#carouselControl" role="button" data-slide="prev").carousel-control-prev
          span(aria-hidden="true").carousel-control-prev-icon
          span.sr-only Previous
        a(href="#carouselControl" role="button" data-slide="next").carousel-control-next
          span(aria-hidden="true").carousel-control-next-icon
          span.sr-only Next  

  // Display any server messages
  != messages('message', locals)
    
  div#content      
    // Reading Input Area
    div.monitorCage
      div.block.shady
        h1.blockHeader Record
        div.blockHR
        div.blockContent               
          form(method="post" action="/dinodata/reading/"+selected._id).container-fluid
            p.blockText Select a reptile above and enter their enclosure conditions. The entries will be plotted in the charts below.            
            div.row
              div.col-md-6.col-sm-12
                span.badge.badge-secondary.m-1.p-2.w-100 Environment
                div.input-group.m-1.mb-3
                  div.input-group-prepend
                    span.input-group-text.justify-content-end Date:
                  input(id="date" name="date" type="date" min="2020-01-01").form-control
                div.input-group.m-1
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-40
                     i.fab.fa-gripfire
                  input(id="warmest" name="warmest" type="text" placeholder="Warmest Point (F°)").form-control
                div.input-group.m-1
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-40
                      i.far.fa-snowflake
                  input(id="coldest" name="coldest" type="text" placeholder="Coldest Point (F°)").form-control
                div.input-group.m-1.mb-3
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-40
                      i.fas.fa-cloud
                  input(id="humidity" name="humidity" type="text" placeholder="Humidity (%)").form-control
              div.col-md-6.col-sm-12
                span.badge.badge-secondary.m-1.p-2.w-100 Hygiene Score
                div.btn-group-vertical.w-100
                  label.btn.btn-light.ml-1.mt-1.mb-0.pl-4.d-flex.justify-content-between Spotless
                    input(type="radio" name="hygiene" value="5").ml-4.mr-2
                  label.btn.btn-light.ml-1.mb-0.pl-4.d-flex.justify-content-between Not Bad
                    input(type="radio" name="hygiene" value="4").ml-4.mr-2
                  label.btn.btn-light.ml-1.mb-0.pl-4.d-flex.justify-content-between Messy
                    input(type="radio" name="hygiene" value="3").ml-4.mr-2
                  label.btn.btn-light.ml-1.mb-0.pl-4.d-flex.justify-content-between Getting Bad    
                    input(type="radio" name="hygiene" value="2").ml-4.mr-2
                  label.btn.btn-light.ml-1.mb-3.pl-4.d-flex.justify-content-between Disgusting
                    input(type="radio" name="hygiene" value="1").ml-4.mr-2
            div.row
              div.col
              div.col-md-3.col-sm-12              
                button(type="submit").btn.btn-success.w-100.m-1 
                  p.m-0.d-inline Chart It
                  i.fas.fa-arrow-down.ml-2
              div.col
      // Graph Area
      div.block.mt-4.shady
          h1.blockHeader Monitor
          div.blockHR
          div.blockContent.d-flex.flex-sm-column.flex-md-column.flex-lg-row
            div.d-flex.flex-column.bg-light.rounded.mb-sm-3.mb-md-3.mb-lg-0.mr-lg-3
              div.d-flex.flex-row.justify-content-center.align-items-center.bg-dark.rounded-top.border.border-secondary
                h3.text-light.m-2 Controls
              // Time Increment/Decrement
              div.d-flex.flex-row.justify-content-center.align-items-center.mt-3
                button#templeft(onclick="go('back')").btn.btn-lg.btn-secondary.mx-1
                  i.fas.fa-angle-left
                button#tempright(onclick="go('forward')").btn.btn-lg.btn-secondary.mx-1
                  i.fas.fa-angle-right
              // Time Selectors
              div.d-flex.justify-content-center.align-items-center.mx-2.mt-3
                .btn-group-vertical.w-100
                  label.btn.btn-secondary.m-0
                    p.text.mr-2.d-inline Week
                    input(name="timeframe" type="radio" onclick="setWeekView()" checked).ml-2
                  label.btn.btn-secondary.m-0
                    p.text.mr-2.d-inline Month
                    input(name="timeframe" type="radio" onclick="setMonthView()").ml-2           
              // Line Toggles
              div.d-flex.justify-content-center.align-items-center.mx-2.mb-4.mt-3
                .btn-group-vertical.w-100
                  label.btn.btn-secondary.m-0
                    i.far.fa-snowflake.mr-2
                    input(id="coldCheck" name="coldCheck" type="checkbox" checked).ml-2
                  label.btn.btn-secondary.m-0
                    i.fab.fa-gripfire.mr-2
                    input(id="warmCheck" name="warmCheck" type="checkbox" checked).ml-2
                  label.btn.btn-secondary.m-0
                    i.fas.fa-cloud.mr-2
                    input(id="humidCheck" name="humidCheck" type="checkbox" checked).ml-2  
                  label.btn.btn-secondary.m-0
                    i.fas.fa-trash-alt.mr-2
                    input(id="hygieneCheck" name="hygieneCheck" type="checkbox" checked).ml-2                
            div.readings.w-100
              canvas(data-id=selected._id)#cageChart.chart.h-100.w-100
              
