extends dinodata

block content
  div#content
    // Display any server messages
    != messages('message', locals)
    div
      div.block.shady
        h1.blockHeader Editing #{selected.name}
        div.blockHR
        div.blockContent               
          form(method="post" action="/dinodata/cage/edit/"+selected._id).container
            p.blockText Change #{selected.name}'s name, type, or delete them from the system.
            div.row
              div.col-4
                div.input-group.my-2
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-100 Name
                  input(type="text" name="reptiname" value=selected.name).form-control
                div.input-group.mt-2.mb-4
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-100 Type
                  select(name="reptitype").form-control.custom-select
                    option(value="ballPython") Ball Python
                    option(value="bearedDragon") Bearded Dragon
                
            div.row
              div.col-4            
                button(type="submit").btn.btn-success.w-100.m-1 
                  p.m-0.d-inline Confirm Changes
                a(href="#" data-id=selected._id).deleteReptile.btn.btn-danger.w-100.m-1 
                  p.m-0.d-inline Remove Reptile
