extends dinodata

block content
  div#select.d-none
  div#content
    // Display any server messages
    != messages('message', locals)
    div.intro
      h1.introHeader A happy dinosaur...
      p.introText ...is a hungry dinosaur. Welcome to <b>Dino-Data.</b><br>Here you can monitor cage conditions,<br>schedule feedings, and research basic care<br>techniques for your reptile pets.
      div.d-flex.flex-row
        if user
          a(href="/dinodata/profile/logout").btn.btn-danger.m-2 Log Out
        else
          a(href="/dinodata/profile/new_account").shady.btn.btn-primary.m-2 Make an Account
          a(href="/dinodata/profile/login").shady.btn.btn-secondary.m-2 Login

      
