extends dinodata

block content  
  != messages('message', locals)
  div#content    
    div.intro.accountLogin
      h1.introHeader Log in:
      form(method="post" action="/dinodata/profile/login").width-400
        div.input-group.m-4.shady
          div.input-group-prepend
            span.input-group-text.width-100.justify-content-end Username:
          input(name="username").form-control
        div.input-group.m-4.shady
          div.input-group-prepend
            span.input-group-text.width-100.justify-content-end Password:
          input(name="password").form-control
        div.d-flex.flex-row
          button(type="submit").btn.btn-primary.mt-4.ml-4.shady Log In
          a(href="/dinodata").btn.btn-danger.mt-4.ml-3.shady Cancel
