extends dinodata

block content
  div#content
    != messages('message', locals)
    div.intro.accountCreation
      h1.introHeader Create a new account
      form(method="post" action="/dinodata/profile/new_account").width-400
        div.input-group.m-4.shady
          input(type="text" name="username" placeholder="Username:").form-control
        div.input-group.m-4.shady
          input(type="text" name="password" placeholder="Password:").form-control
        div.input-group.m-4.shady
          input(type="text" name="confirmPassword" placeholder="Confirm Password:").form-control
        div.d-flex.flex-row
          button(type="submit").btn.btn-primary.mt-4.ml-4.shady Create
          a(href="/dinodata").btn.btn-danger.mt-4.ml-3.shady Cancel
          a(href="/dinodata/login").btn.btn-secondary.mt-4.ml-auto.shady I already have an account
