extends dinodata

block content
  div#content
    != messages('message', locals)
    div
      div.block.shady
        h1.blockHeader Add New Reptile
        div.blockHR
        div.blockContent               
          form(method="post" action="/dinodata/cage/create").container
            p.blockText Monitor another reptile by adding their information below.
            div.row
              div.col-4
                div.input-group.my-2
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-100 Name
                  input(type="text" name="reptiname").form-control
                div.input-group.mt-2.mb-4
                  div.input-group-prepend
                    span.input-group-text.justify-content-center.width-100 Type
                  select(name="reptitype").form-control.custom-select
                    option(value="ballPython") Ball Python
                    option(value="bearedDragon") Bearded Dragon
                
            div.row
              div.col-4            
                button(type="submit").btn.btn-success.w-100.m-1 
                  p.m-0.d-inline Create
                a(href="/dinodata/cage").btn.btn-danger.w-100.m-1 
                  p.m-0.d-inline Cancel
