doctype html
html(lang="en-US").bg-dark
  head
    title Dino-Data
    // Bring in personal styles
    link(rel="stylesheet" type="text/css" href="/css/ddstyles.css")
    // Bring in Font Awesome Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css")
    // Bring in Bootstrap
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    // Bring in Google Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap") 
    meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")  
  body.container-fluid
    main.mainGrid
      nav.navi
        div#logo
        div#links
          a(href="/dinodata").link.active
            p.sideLink Home
            i.sideIcon.fa.fa-home.fa-2x
          a(href="/dinodata/cage").link
            p.sideLink Cages
            i.sideIcon.fas.fa-border-all.fa-2x
          
          a(href="/dinodata/donate").link.donate
            p.sideLink Donate
            i.sideIcon.fas.fa-dollar-sign.fa-2x  
      
      section.page
        block content
        
          
