doctype html
html(lang="en-US").bg-dark
  head
    title Legidev
    // Bring in personal styles
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    // Bring in Font Awesome Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
    // Bring in Bootstrap
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    // Bring in Google Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel") 
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap") 
    meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
    
  body
  .canvas
    .center
      .swap
        .swap1.fade6
          h1.title.shadyText.secondaryFont Legibly       
          h1.title.shadyText.secondaryFont Developed
          div.d-flex.flex-row.justify-content-center
            i.logo.shadyText.fas.fa-chevron-left
            i.logo.shadyText.fas.fa-eye
            i.logo.shadyText.fas.fa-chevron-right
        .swap2
          h2.innerTitle.shadyText.secondaryFont Hello!
          p.intro.shadyText.secondaryFont Welcome to LegiDev, personal site of James McNeilan. I've collected my projects and hobbies here.
    .blobs
      .centerBlob.white 
      .blob.money.violet
      .blob.coding.indigo
      .blob.social.blue
      .blob.ideas.cyan
      .blob.music.green
      .blob.watch.yellow
      .blob.learn.orange
      .blob.galleries.red
    .hub.money
      .hubContent
        a.swap.link(href="#")
          .swap1.fade1
            i.linkIcon.fas.fa-camera-retro.fa-3x
          .swap2
            p.linkText.secondaryFont Alamy
      .subHubs
        .coinbase
        .budget
        .alamy
    .hub.coding 
      .hubContent
        a.swap.link(href="#")
          .swap1.fade2
            i.linkIcon.fab.fa-github.fa-5x
          .swap2        
            p.linkText.secondaryFont GitHub
      .subHubs
        .github
        .codepen
        .dinodata
    .hub.social
      .hubContent
        a.swap.link(href="#")
          .swap1.fade3
            i.linkIcon.fab.fa-linkedin.fa-4x
          .swap2
            p.linkText.secondaryFont LinkedIn
      .subHubs
        .linkedin
        .vrchat
        .protonmail
    .hub.ideas
      .hubContent
        a.swap.link(href="/dinodata")
          .swap1.fade4
            i.linkIcon.fas.fa-dragon.fa-3x
          .swap2
            p.linkText.secondaryFont DinoData
      .subHubs
        .trello
    .hub.music
      .hubContent
        a.swap.link(href="#")
          .swap1.fade5
            i.linkIcon.fab.fa-bitcoin.fa-4x
          .swap2
            p.linkText.secondaryFont Coinbase
      .subHubs
        .pandora
    .hub.watch
      .hubContent
        a.swap.link(href="#")
          .swap1.fade4
            i.linkIcon.fab.fa-trello.fa-4x
          .swap2
            p.linkText.secondaryFont Trello
      .subHubs
        .torrentday
        .youtube
    .hub.learn
      .hubContent
        a.swap.link(href="#")
          .swap1.fade3
            i.linkIcon.fab.fa-leanpub.fa-4x
          .swap2
            p.linkText.secondaryFont DuoLingo
      .subHubs
        .udemy
        .duolingo
    .hub.galleries
      .hubContent
        a.swap.link(href="#")
          .swap1.fade2
            i.linkIcon.far.fa-images.fa-3x
          .swap2
            p.linkText.secondaryFont Flickr
      .subHubs
        .flickr
        .blender
        
    
  
