doctype html
html(lang="en-US").bg-dark
  head
    title Legidev
    // Bring in personal styles
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    // Bring in Font Awesome Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
    // Bring in Google Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap") 
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
    
  body
  .canvas
    .center
      .swap
        .swap1.fade6
          h1.title.shadyText.secondaryFont Legibly       
          h1.title.shadyText.secondaryFont Developed
          div.d-flex.flex-row.justify-content-center
            i.logo.shadyText.fas.fa-chevron-left
            i.logo.shadyText.fas.fa-eye
            i.logo.shadyText.fas.fa-chevron-right
        .swap2
          h2.innerTitle.shadyText.secondaryFont Hello!
          p.intro.shadyText.secondaryFont Welcome to LegiDev,<br>personal site of<br>James McNeilan.<br>I've collected my<br>projects and hobbies<br>here.
    .blobs
      .centerBlob.white 
      #moneyB.blob.money.violet
      #codingB.blob.coding.indigo
      #socialB.blob.social.blue
      #ideasB.blob.ideas.cyan
      #musicB.blob.music.green
      #watchB.blob.watch.yellow
      #learnB.blob.learn.orange
      #galleryB.blob.gallery.red
    .hub.money
      .hubContent
        a(href="#")#moneyS.swap.link
          .swap1.fade1
            i.linkIcon.fas.fa-camera-retro.fa-3x
          .swap2
            p.linkText.secondaryFont Alamy
      .subHubs
        .coinbase
        .budget
        .alamy
    .hub.coding 
      .hubContent
        a(href="#")#codingS.swap.link
          .swap1.fade2
            i.linkIcon.fab.fa-github.fa-5x
          .swap2        
            p.linkText.secondaryFont GitHub
      .subHubs
        .github
        .codepen
        .dinodata
    .hub.social
      .hubContent
        a(href="#")#socialS.swap.link
          .swap1.fade3
            i.linkIcon.fab.fa-linkedin.fa-4x
          .swap2
            p.linkText.secondaryFont LinkedIn
      .subHubs
        .linkedin
        .vrchat
        .protonmail
    .hub.ideas
      .hubContent
        a(href="/dinodata")#ideasS.swap.link
          .swap1.fade4
            i.linkIcon.fas.fa-dragon.fa-3x
          .swap2
            p.linkText.secondaryFont DinoData
      .subHubs
        .trello
    .hub.music
      .hubContent
        a(href="#")#musicS.swap.link
          .swap1.fade5
            i.linkIcon.fab.fa-bitcoin.fa-4x
          .swap2
            p.linkText.secondaryFont Coinbase
      .subHubs
        .pandora
    .hub.watch
      .hubContent
        a(href="#")#watchS.swap.link
          .swap1.fade4
            i.linkIcon.fab.fa-trello.fa-4x
          .swap2
            p.linkText.secondaryFont Trello
      .subHubs
        .torrentday
        .youtube
    .hub.learn
      .hubContent
        a(href="#")#learnS.swap.link
          .swap1.fade3
            i.linkIcon.fab.fa-leanpub.fa-4x
          .swap2
            p.linkText.secondaryFont DuoLingo
      .subHubs
        .udemy
        .duolingo
    .hub.gallery
      .hubContent
        a(href="#")#galleryS.swap.link
          .swap1.fade2
            i.linkIcon.far.fa-images.fa-3x
          .swap2
            p.linkText.secondaryFont Flickr
      .subHubs
        .flickr
        .blender
  script(src="/javascript/main.js")      
      
    
  
