doctype html
html(lang="en-US").bg-dark
  head
    title Legidev
    // Bring in personal styles
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    // Bring in Font Awesome Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css")
    // Bring in Google Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap") 
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
    
  body
  .canvas
    .center
      .swap
        .swap1.fade6
          h1.title.shadyText.secondaryFont Legibly       
          h1.title.shadyText.secondaryFont Developed
          div.d-flex.flex-row.justify-content-center
            i.logo.shadyText.fas.fa-chevron-left
            i.logo.shadyText.fas.fa-eye
            i.logo.shadyText.fas.fa-chevron-right
        .swap2
          h2.innerTitle.shadyText.secondaryFont Greetings!
          p.intro.shadyText.secondaryFont Need a web developer?
            <br>You can find one here!
            <br>My name is James McNeilan. 
            <br>I've collected 
            <br>examples of my work 
            <br>and my contact info here.
    .blobs
      .centerBlob.white 
      #moneyB.blob.money.violet
      #codingB.blob.coding.indigo
      #socialB.blob.social.blue
      #ideasB.blob.ideas.cyan
      #musicB.blob.music.green
      #watchB.blob.watch.yellow
      #learnB.blob.learn.orange
      #galleryB.blob.gallery.red
    .hub.money
      .hubContent
        a(href="https://www.webofwares.com" target="_blank")#moneyS.swap.link
          .swap1.fade1
            i.linkIcon.fas.fa-box.fa-3x
          .swap2
            p.linkText.secondaryFont Web of Wares
    .hub.coding 
      .hubContent
        a(href="https://github.com/JaundiceJack" target="_blank")#codingS.swap.link
          .swap1.fade2
            i.linkIcon.fab.fa-github.fa-5x
          .swap2        
            p.linkText.secondaryFont GitHub
    .hub.social
      .hubContent
        a(href="https://www.linkedin.com" target="_blank")#socialS.swap.link
          .swap1.fade3
            i.linkIcon.fab.fa-linkedin.fa-4x
          .swap2
            p.linkText.secondaryFont LinkedIn
    .hub.ideas
      .hubContent
        a(href="https://www.libercord.com" target="_blank")#ideasS.swap.link
          .swap1.fade4
            i.linkIcon.fas.fa-briefcase.fa-3x
          .swap2
            p.linkText.secondaryFont LiberCord
    .hub.music
      .hubContent
        a(href="https://www.minivolution.com" target="_blank")#musicS.swap.link
          .swap1.fade5
            i.linkIcon.fas.fa-disease.fa-4x
          .swap2
            p.linkText.secondaryFont Minivolution
    .hub.watch
      .hubContent
        a(href="https://trello.com/jamesmcneilan/boards" target="_blank")#watchS.swap.link
          .swap1.fade4
            i.linkIcon.fab.fa-trello.fa-4x
          .swap2
            p.linkText.secondaryFont Trello
    .hub.learn
      .hubContent
        a(href="https://www.duolingo.com/learn" target="_blank")#learnS.swap.link
          .swap1.fade3
            i.linkIcon.fab.fa-earlybirds.fa-4x
          .swap2
            p.linkText.secondaryFont DuoLingo
    .hub.gallery
      .hubContent
        a(href="https://www.wayfarerswander.com/" target="_blank")#galleryS.swap.link
          .swap1.fade2
            i.linkIcon.fas.fa-camera-retro.fa-3x
          .swap2
            p.linkText.secondaryFont Wayfarer's Wander
  script(src="/javascript/main.js")      
      
    
  
