doctype html
html(lang="en-US").bg-dark
	head
		title Legidev
		// Bring in personal styles
		link(rel="stylesheet" type="text/css" href="/css/styles.css")
		// Bring in Font Awesome Icons
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
		// Bring in Bootstrap
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
		// Bring in Google Fonts
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel") 
		meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
  
  body
    nav
      div.hub
        div.orb.bigOrb
          div.background
            img(src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9")
          div.swap
            div.swap1
              h1.title.text.mainFont Legibly
              div.d-flex.flex-row.justify-content-center
                i.logo.text.fas.fa-chevron-left
                i.logo.text.fas.fa-eye
                i.logo.text.fas.fa-chevron-right
              h1.title.text.mainFont Developed 
            div.swap2
              h2.title.text.mainFont Hello!
              p.intro.text.mainFont Welcome to LegiDev, <br>personal site of James McNeilan. I've collected my interests and hobbies here.
      div.hub.move1
        div.orb.littleOrb.github
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.fab.fa-github.fa-5x
            div.swap2        
              p.linkText.secondaryFont GitHub
      div.hub.move2
        div.orb.littleOrb.trello
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.fab.fa-trello.fa-4x
            div.swap2
              p.linkText.secondaryFont Trello
      div.hub.move3
        div.orb.littleOrb.linkedin
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.fab.fa-linkedin.fa-4x
            div.swap2
              p.linkText.secondaryFont LinkedIn
      div.hub.move4
        div.orb.littleOrb.flickr
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.far.fa-images.fa-3x
            div.swap2
              p.linkText.secondaryFont Flickr
      div.hub.move5
        div.orb.littleOrb.reptile
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.fas.fa-dragon.fa-3x
            div.swap2
              p.linkText.secondaryFont Dino-Data
      div.hub.move6
        div.orb.littleOrb.alamy
          a.swap.link(href="#")
            div.swap1
              i.linkIcon.fas.fa-camera-retro.fa-3x
            div.swap2
              p.linkText.secondaryFont Alamy
