* { margin: 0; padding 0; box-sizing: border-box; }
.container-fluid { padding: 0 !important; }
body, main { min-height: 100vh; }



.mainGrid {
  display: grid;
  grid-template-columns: 85px auto;
  grid-template-rows: auto;
  grid-template-areas: "navi page"
}
.navi {
  grid-area: navi;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000, #111);
  position: relative;
}
.page {
  grid-area: page;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1561177276-4ea6e36f7e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: 50% 33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
#logo {
  height: 80px;
  width: 80px;
  background: #333;
  margin: 5px;
  border-radius: 0 0 5px 5px;
  background-image: url(https://live.staticflickr.com/65535/50116698683_0327fc2bed_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.active::before {
  content: '';
  height: 75%;
  width: 5px;
  background-color: #4E4;
  position: absolute;
  left: 0;
  margin-left: -5px;
}
#select {
  height: 85px;
  width: auto;
  background: linear-gradient(to bottom, #000, #070707);
  margin: 0px 20px;
  border-radius: 0 0 5px 5px;
}
#content {
  margin: 20px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.link:hover {text-decoration: none;}
.link:hover::before {
  content: '';
  height: 75%;
  width: 5px;
  background-color: #47a;
  position: absolute;
  left: 0;
  margin-left: -5px;
}
.sideLink {
  font-size: 20px;
  color: #ABC;
  margin-bottom: 0;
}
.sideLink:hover {
  text-decoration: none;
  color: #ABC;
}
.sideIcon {
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s;
  color: #ABC;
}
.link p {
  opacity: 0;
}
.link i {
  opacity: 1;
}
.link:hover p {
  opacity: 1;
  transition: opacity 0.4s;
}
.link:hover i {
  opacity: 0;
  transition: opacity 0.4s;
}
.link:focus p {
  opacity: 1;
  transition: opacity 0.4s;
}
.link:focus i {
  opacity: 0;
  transition: opacity 0.4s;
}
.intro {
  margin-left: 200px;
  margin-top: 50px;
}
.introHeader {
  font-size: 40px;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 10px black;
  color: #CCC;
}
.introText {
  font-size: 20px;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 10px black;
  line-height: 25px;
  color: #CCC;
  padding-left: 10px;
}
.shady {
  box-shadow: 0px 1px 8px 0px #333;
}
.donate {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 900px) {
  .intro {
    margin-left: 100px;;
  }
}
@media only screen and (max-width: 650px) {
  .intro {
    margin-left: 50px;;
  }
}

.width-40 { width: 40px; }
.width-100 { width: 100px; }
.width-150 { width: 150px; }
.width-400 { width: 400px; }



.reptile {
  width: 60px;
  height: 80px;
  margin: 0 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reptileImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s;
}
.reptileName {
  margin-top: 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  color: #CCC;
  text-decoration: none;
}
.reptile:hover .reptileImg {
  opacity: 0;
  transition: opacity 0.2s;
}
.reptile:hover .reptileName {
  opacity: 1;
  transition: opacity 0.2s;
}
.reptile:hover::before {
  content: '';
  width: 75%;
  height: 3px;
  background-color: lightblue;
  position: absolute;
  bottom: 0;

}
.selected::after {
  content: '';
  width: 75%;
  height: 3px;
  background-color: gold;
  position: absolute;
  bottom: 0;
}
.block {
  min-height: 200px;
  width: auto;
  background: linear-gradient(to bottom, #000, #070707);
  margin: 0px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.blockHeader {
  margin: 10px 20px;
  color: #abc;
  font-family: 'Cinzel';
  font-size: 30px;
  text-shadow: -1px 0 1px #123, 0 1px 5px gold, 1px 0 1px #123, 0 -1px 1px #123;
}
.blockHR {
  height: 2px;
  width: 35%;
  background: linear-gradient(to right, gold, black);
}
.blockText {
  color: #abc;
  text-shadow: -1px 0 1px #123, 0 1px 1px gold, 1px 0 1px #123, 0 -1px 1px #123;
  font-size: 20px;
  line-height: 30px;

}
.blockContent {
  margin: 30px 20px;
}
.readings {
  background: white;
  border-radius: 5px;
}

.field {
  margin: 20px;
  display: flex;
  align-items: center;
}
.fieldLabel {
  display: flex;
  align-items: center;
  margin: 5px;
}
.fieldLabelIcon {

}
.fieldLabelText {}
.fieldEntry {
  background: linear-gradient(to top, #345, #000);
  position: relative;
  border-bottom: solid #d6e577 2px;
  border-radius: 10px;
}


.fieldInput {
  color: gold;
  background: transparent;
  border: none;
  width: 100%;
  text-shadow: -1px 0 1px #123, 0 1px 1px gold, 1px 0 1px #123, 0 -1px 1px #123;
  text-align: center;
}
.fieldInput::placeholder {
  text-align: center;
  color: gold;

}
.fieldInput:focus {
  border: 1px solid gold;
  border-radius: 10px;
}
.fieldInput:focus .fieldEntry {
  border-radius: 10px;
}
